* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic page styling */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(36, 36, 36);
    color: white;
    margin: 0;
    padding: 20px;
}

/* Title styling */
h1 {
    color: #1c1616;
    margin: 16px 0px 16px 0px;
}

/* List styling */
ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

li {
    background: #0b0b0b;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Trends Container Layout */
.trendsContainer {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: flex-start;
}

/* Map container styling */
#map {
    height: 70vh;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

/* Tab and Menu styling */
.tab-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
}

.tab-button.active {
    background-color: #888;
}

/* Tab-innhold */
.tab-content {
    width: 80%;
}

/* Styling for Map tab */
#map-tab {
    display: block;
    /* Make sure map view is shown initially */
}

/* Menu View Styling */
#menu-tab {
    display: flex;
    justify-content: space-between;
}

.trendsResults {
    margin-right: 20px;
    width: 20%;
}

/* Left side (Country list) */
.country-menu {
    list-style-type: none;
    padding: 0;
    width: 250px;
}

.country-menu li {
    padding: 10px;
    cursor: pointer;
    background-color: #444;
    color: white;
    margin-bottom: 5px;
    text-align: center;
}

.country-menu li:hover {
    background-color: #555;
}

/* Right side (Trends) */
.trends-view {
    width: calc(100% - 270px);
    /* Adjust based on the width of the country list */
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.trends-view h2 {
    font-size: 1.5em;
    color: white;
    margin-bottom: 20px;
}

.trends-view ul {
    padding-left: 20px;
}

.trends-view ul li {
    font-size: 1.2em;
    padding: 5px;
    border-bottom: 1px solid #666;
}

/* Styling for the country flag and information section */
.country-info {
    margin-top: 20px;
    display: none;
    padding: 10px;
    background-color: #444;
    border-radius: 5px;
}

.country-info img {
    width: 30px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.country-info p {
    display: inline-block;
    color: white;
    width: 65vw;
}

/* skal skal bli "loadingbar(en)" for neste land. */
.countryTimer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;

}

/* card */

.content {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

.heading {
    width: 100%;
    margin-left: 1rem;
    font-weight: 900;
    font-size: 1.618rem;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    line-height: 1;
    padding-bottom: 0.5em;
    margin-bottom: 1rem;
    position: relative;
}

.heading:after {
    display: block;
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
    bottom: 0;
}

.description {
    width: 100%;
    margin-top: 0;
    margin-left: 1rem;
    margin-bottom: 3rem;
}

.card {
    color: inherit;
    cursor: pointer;
    width: calc(33% - 2rem);
    min-width: calc(33% - 2rem);
    height: 400px;
    min-height: 400px;
    perspective: 1000px;
    margin: 1rem;
    position: relative;
}

@media screen and (max-width: 800px) {
    .card {
        width: calc(50% - 2rem);
    }
}

@media screen and (max-width: 500px) {
    .card {
        width: 100%;
    }
}

.front,
.back {
    display: flex;
    border-radius: 6px;
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: ease-in-out 600ms;
}

.front {
    background-size: cover;
    padding: 2rem;
    font-size: 1.618rem;
    font-weight: 600;
    color: #fff;
    overflow: hidden;
    font-family: Poppins, sans-serif;
}

.front:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.25;
    z-index: -1;
}

.card:hover .front {
    transform: rotateY(180deg);
}

.card:nth-child(even):hover .front {
    transform: rotateY(-180deg);
}

.back {
    background: #fff;
    transform: rotateY(-180deg);
    padding: 0 2em;
}

.back .c-button {
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
}

.back .c-button:before {
    box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
    background-color: rgba(26, 87, 230, 0.25);
}

.card:hover .back {
    transform: rotateY(0deg);
}

.card:nth-child(even) .back {
    transform: rotateY(180deg);
}

.card:nth-child(even) .back .c-button {
    background: linear-gradient(135deg, #e61a80, #e61a3c);
}

.card:nth-child(even) .back .c-button:before {
    box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
    background-color: rgba(230, 26, 60, 0.25);
}

.card:nth-child(even):hover .back {
    transform: rotateY(0deg);
}

.c-button {
    transform: translateZ(40px);
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-weight: bold;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 100px;
    font: inherit;
    border: none;
    position: relative;
    transform-style: preserve-3d;
    transition: 300ms ease;
}

.c-button:before {
    transition: 300ms ease;
    position: absolute;
    display: block;
    content: "";
    transform: translateZ(-40px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border-radius: 100px;
    left: 10px;
    top: 16px;
}

.c-button:hover {
    transform: translateZ(55px);
}

.c-button:hover:before {
    transform: translateZ(-55px);
}

.c-button:active {
    transform: translateZ(20px);
}

.c-button:active:before {
    transform: translateZ(-20px);
    top: 12px;
}


.checkbox-wrapper-2 {
    margin-left: auto;
}
/* Checkbox */
.checkbox-wrapper-2 .ikxBAC {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
}

.checkbox-wrapper-2 .ikxBAC::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
    transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
}

.checkbox-wrapper-2 input[type=checkbox] {
    cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
}

.checkbox-wrapper-2 .ikxBAC:checked {
    background-color: #6e79d6;
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
    background-color: #fff;
    left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
    outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
    background-color: #535db3;
}