* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 4px;
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    border-radius: 4px;
    background: #555;
}

/* Basic page styling */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(36, 36, 36);
    color: white;
    margin: 0;
    padding: 20px;
}

.trendsResults a::after {
    content: "🅘";
    counter-increment: mycounter;
    margin-left: 10px;
    font-size: 18px;
    color: #007bff;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
    font-weight: 400;
    text-decoration: none;
}

/* Title styling */
h1 {
    color: #1c1616;
}

/* List styling */
ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

li {
    background: #77b5e7;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Trends Container Layout */
.trendsContainer {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: flex-start;
}

#interactive-TC {
    
}

/* Map container styling */
#map {
    height: 77vh;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

/* Tab and Menu styling */
.tab-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    text-decoration: none;
    border-radius: 5px;
    background-color: #77b5e7;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
}

.tab-button.active {
    background-color: #ece2e2;
}

/* Tab-innhold */
.tab-content {
    width: 80%;
}
.tabmeny{
    width: 20%;
    display: flex;
}

/* Styling for Map tab */
#map-tab {
    display: block;
    /* Make sure map view is shown initially */
}

/* Menu View Styling */
#menu-tab {
    display: flex;
    justify-content: space-between;
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~#menu__box {
    visibility: visible;
    right: 0;
    /* Move the menu box into view from the right */
}

.menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    /* Position the button on the right */
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 500;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #616161;

    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

#menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 20px;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: -1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
}

#menu__box.dark-mode {
    background-color: var(--menu_box-color2);
}

.menu__item {
    display: block;
    padding: 12px 24px;

    color: #333;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;

    text-decoration: none;

    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

.trendsResults {
    margin-right: 20px;
    width: 20%;
}

/* Left side (Country list) */
.country-menu {
    list-style-type: none;
    padding: 0;
    width: 250px;
}

.country-menu li {
    padding: 10px;
    cursor: pointer;
    background-color: #444;
    color: white;
    margin-bottom: 5px;
    text-align: center;
}

.country-menu li:hover {
    background-color: #555;
}

/* Right side (Trends) */
.trends-view {
    width: calc(100% - 270px);
    /* Adjust based on the width of the country list */
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.trends-view h2 {
    font-size: 1.5em;
    color: white;
    margin-bottom: 20px;
}

.trends-view ul {
    padding-left: 20px;
}

.trends-view ul li {
    font-size: 1.2em;
    padding: 5px;
    border-bottom: 1px solid #666;
}

/* Styling for the country flag and information section */
.country-info {
    margin-top: 20px;
    display: none;
    padding: 10px;
    background-color: #444;
    border-radius: 5px;
}

.country-info img {
    width: 30px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.country-info p {
    display: inline-block;
    color: white;
    width: 65vw;
}

/* skal skal bli "loadingbar(en)" for neste land. */
#progress-line {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: green;
    /* Grønn linje */
    width: 100%;
    /* Start med full bredde */
    transition: width 5s linear;
    /* Jevn animasjon over 5 sekunder */
}

/* card */

.content {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

.heading {
    width: 100%;
    margin-left: 1rem;
    font-weight: 900;
    font-size: 1.618rem;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    line-height: 1;
    padding-bottom: 0.5em;
    margin-bottom: 1rem;
    position: relative;
}

.heading:after {
    display: block;
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
    bottom: 0;
}

.description {
    width: 100%;
    margin-top: 0;
    margin-left: 1rem;
    margin-bottom: 3rem;
}

.card {
    color: inherit;
    cursor: pointer;
    width: calc(33% - 2rem);
    min-width: calc(33% - 2rem);
    height: 400px;
    min-height: 400px;
    perspective: 1000px;
    margin: 1rem;
    position: relative;
}

@media screen and (max-width: 800px) {
    .card {
        width: calc(50% - 2rem);
    }
}

@media screen and (max-width: 500px) {
    .card {
        width: 100%;
    }
}

.front,
.back {
    display: flex;
    border-radius: 6px;
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: ease-in-out 600ms;
}

.front {
    background-size: cover;
    padding: 2rem;
    font-size: 1.618rem;
    font-weight: 600;
    color: #fff;
    overflow: hidden;
    font-family: Poppins, sans-serif;
}

.front:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.25;
    z-index: -1;
}

.card:hover .front {
    transform: rotateY(180deg);
}

.card:nth-child(even):hover .front {
    transform: rotateY(-180deg);
}

.back {
    background: #fff;
    transform: rotateY(-180deg);
    padding: 0 2em;
}

.back .c-button {
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
}

.back .c-button:before {
    box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
    background-color: rgba(26, 87, 230, 0.25);
}

.card:hover .back {
    transform: rotateY(0deg);
}

.card:nth-child(even) .back {
    transform: rotateY(180deg);
}

.card:nth-child(even) .back .c-button {
    background: linear-gradient(135deg, #e61a80, #e61a3c);
}

.card:nth-child(even) .back .c-button:before {
    box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
    background-color: rgba(230, 26, 60, 0.25);
}

.card:nth-child(even):hover .back {
    transform: rotateY(0deg);
}

.c-button {
    transform: translateZ(40px);
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-weight: bold;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 100px;
    font: inherit;
    border: none;
    position: relative;
    transform-style: preserve-3d;
    transition: 300ms ease;
}

.c-button:before {
    transition: 300ms ease;
    position: absolute;
    display: block;
    content: "";
    transform: translateZ(-40px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border-radius: 100px;
    left: 10px;
    top: 16px;
}

.c-button:hover {
    transform: translateZ(55px);
}

.c-button:hover:before {
    transform: translateZ(-55px);
}

.c-button:active {
    transform: translateZ(20px);
}

.c-button:active:before {
    transform: translateZ(-20px);
    top: 12px;
}


.checkbox-wrapper-2 {
    margin-left: auto;
}

/* Checkbox */
.checkbox-wrapper-2 .ikxBAC {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
}

.checkbox-wrapper-2 .ikxBAC::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
    transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
}

.checkbox-wrapper-2 input[type=checkbox] {
    cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
}

.checkbox-wrapper-2 .ikxBAC:checked {
    background-color: #6e79d6;
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
    background-color: #fff;
    left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
    outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
    background-color: #535db3;
}

#trendsResults ul {
    width: auto;
}

.trend-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid rgb(27, 27, 27);
}

.trend-text {
    flex: 1;
    font-size: 16px;
}


.info-icon {
    font-size: 18px;
    color: #007bff;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
}

.trend-info-box {
    color: black;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    z-index: 1000;
    font-size: 14px;
}

:root {
    --background-color: white;
    --text-color: black;
    --button-bg: #ddd;
    --button-text: black;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

button {
    background-color: var(--button-bg);
    color: var(--button-text);
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

body.dark-mode {
    --menu_box-color2: #262626;
    --background-color: #131416;
    --text-color: white;
    --button-bg: #333;
    --button-text: white;
}



/* Styling for toggle switch */
.theme-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    max-width: 60px;
    min-width: 60px;
}

.theme-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.theme-toggle .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.theme-toggle .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.theme-toggle input:checked+.slider {
    background-color: #2196F3;
}

.theme-toggle input:checked+.slider:before {
    transform: translateX(26px);

}



/* Styling for the topnav */
.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    position: relative;
}

.topnav .logo a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

.topnav .nav-links {
    display: flex;
    gap: 20px;
}

.topnav .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: color 0.3s ease;
}

.topnav .nav-links a:hover {
    color: #00bcd4;
}


.cm-div {
    margin-top: 10px;
    display: flex;
    gap: 8px;
}

@media screen and (max-width: 768px) {
    .trendsContainer {
        display: block;
    }

    .trendsResults {
        width: 100%;
    }

    .tab-content {
        width: 100%;
    }
    #map {
        margin-top: 20px;
    }
    #menu__box {
        width: 100%;
    }
  }