<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trending Searches in Norway</title>

    <!-- Link til ekstern CSS for Leaflet kartbibliotek -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

    <!-- Link til lokal CSS-fil for styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <!-- Seksjon for å vise det norske flagget (skjult som standard) -->
    <section id="countryICO" class="countryFlag" style="display: none;">
        <img src="{{ url_for('static', filename='img/Flag_of_Norway.png') }}" alt="Norway Flag">
        <!-- Vist flagg av Norge -->
    </section>

    <!-- Seksjon som inneholder trender og kartet -->
    <section class="trendsContainer">
        <div id="trendsResults" class="trendsResults">
            <h1 style="color: white;">Current Trending Searches in Norway</h1> <!-- Tittel som viser trender i Norge -->
            <ul>
                <!-- Flaskekode som viser trender i en liste -->
                {% for trend in trends %}
                <li>{{ trend }}</li> <!-- Hver trend vises som et punkt i listen -->
                {% endfor %}
            </ul>
        </div>

        <!-- Kartseksjon -->
        <div id="map"></div>
    </section>

    <section class="countryTimer">
    </section>

    <!-- Leaflet JS (ekstern CDN) for kartfunksjonalitet -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <!-- Lokale JavaScript-filer -->
    <script src="{{ url_for('static', filename='leaf.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>