<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trending Searches in Norway</title>

    <!-- Link til ekstern CSS for Leaflet kartbibliotek -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

    <!-- Link til lokal CSS-fil for styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div style="margin-bottom: 20px; display: flex; justify-content: flex-start;">
        <!-- Buttons for switching tabs -->
        <button class="tab-button" onclick="showTab('mapTab')">Map View</button>
        <button class="tab-button" onclick="showTab('menuTab')">Menu View</button>
        <div class="checkbox-wrapper-2">
            <input type="checkbox" class="sc-gJwTLC ikxBAC" id="country-toggle">
          </div>
    </div>

    <!-- Tab Content -->

    <section class="trendsContainer">
        <div id="trendsResults" class="trendsResults">
            <h1 style="color: white;">Current Trending Searches in Norway</h1> <!-- Tittel som viser trender i Norge -->
            <ul>
                <!-- Flaskekode som viser trender i en liste -->
                {% for trend in trends %}
                <li>{{ trend }}</li> <!-- Hver trend vises som et punkt i listen -->
                {% endfor %}
            </ul>
        </div>

        <!-- Kartseksjon -->
        <div id="mapTab" class="tab-content">
            <div id="map"></div>
        </div>
    </section>

    <div id="menuTab" class="tab-content" style="display:none;">
        <ul>
            <li><button onclick="fetchTrends('norway')">Norway</button></li>
            <li><button onclick="fetchTrends('united_states')">United States</button></li>
            <li><button onclick="fetchTrends('brazil')">Brazil</button></li>
            <li><button onclick="fetchTrends('france')">France</button></li>
            <li><button onclick="fetchTrends('germany')">Germany</button></li>
            <li><button onclick="fetchTrends('china')">China</button></li>
            <li><button onclick="fetchTrends('india')">India</button></li>
            <li><button onclick="fetchTrends('australia')">Australia</button></li>
            <li><button onclick="fetchTrends('south_korea')">South Korea</button></li>
            <li><button onclick="fetchTrends('united_kingdom')">United Kingdom</button></li>
            <li><button onclick="fetchTrends('south_africa')">South Africa</button></li>
            <li><button onclick="fetchTrends('canada')">Canada</button></li>
            <li><button onclick="fetchTrends('mexico')">Mexico</button></li>
            <li><button onclick="fetchTrends('spain')">Spain</button></li>
            <li><button onclick="fetchTrends('italy')">Italy</button></li>
            <li><button onclick="fetchTrends('japan')">Japan</button></li>
        </ul>

        <div class="content">
            <h1 class="heading">Country Card Flip</h1>
            <p class="description">Hover over a card to to see current trends!</p><a class="card" href="#!">
                <div class="front" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Flag_of_Norway.svg/1200px-Flag_of_Norway.svg.png)">
                    <p>Norway</p>
                </div>
                <div class="back"  onmouseover="hoverFunction()">
                    <h1 style="color: black; font-size: 1rem;">Current Trending Searches in Norway</h1> <!-- Tittel som viser trender i Norge -->
                    <ul>
                        <!-- Flaskekode som viser trender i en liste -->
                        {% for trend in trends %}
                        <li>{{ trend }}</li> <!-- Hver trend vises som et punkt i listen -->
                        {% endfor %}
                    </ul>
                </div>
            </a><a class="card" href="#!">
                <div class="front" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Flag_of_Brazil.svg/2560px-Flag_of_Brazil.svg.png)">
                    <p>Brazil</p>
                </div>
                <div class="back">
                    <div>
                        {% for trend in trends %}
                        <li>{{ trend }}</li> <!-- Hver trend vises som et punkt i listen -->
                        {% endfor %}
                    </div>
                </div>
            </a><a class="card" href="#!">
                <div class="front" style="background-image: url(https://cdn.britannica.com/79/4479-050-6EF87027/flag-Stars-and-Stripes-May-1-1795.jpg)">
                    <p>United States</p>
                </div>
                <div class="back">
                    <div>
                        {% for trend in trends %}
                        <li>{{ trend }}</li> <!-- Hver trend vises som et punkt i listen -->
                        {% endfor %}
                    </div>
                </div>
            </a><a class="card" href="#!">
                <div class="front" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Flag_of_Sweden.svg/1200px-Flag_of_Sweden.svg.png)">
                    <p>Sweden</p>
                </div>
                <div class="back">
                    <div>
                        {% for trend in trends %}
                        <li>{{ trend }}</li> <!-- Hver trend vises som et punkt i listen -->
                        {% endfor %}
                    </div>
                </div>
            </a><a class="card" href="#!">
                <div class="front" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Flag_of_Germany.svg/1280px-Flag_of_Germany.svg.png)">
                    <p>Germany</p>
                </div>
                <div class="back">
                    <div>
                        {% for trend in trends %}
                        <li>{{ trend }}</li> <!-- Hver trend vises som et punkt i listen -->
                        {% endfor %}
                    </div>
                </div>
            </a><a class="card" href="#!">
                <div class="front" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/1280px-Flag_of_the_Netherlands.svg.png)">
                    <p>Netherlands</p>
                </div>
                <div class="back">
                    <div>
                        {% for trend in trends %}
                        <li>{{ trend }}</li> <!-- Hver trend vises som et punkt i listen -->
                        {% endfor %}
                    </div>
                </div>
            </a>
        </div>
    </div>

    <!-- Seksjon som inneholder trender og kartet -->



    <section class="countryTimer">
        <p>Changing country in 20 seconds.</p>
    </section>

    <!-- Leaflet JS (ekstern CDN) for kartfunksjonalitet -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <!-- Lokale JavaScript-filer -->
    <script src="{{ url_for('static', filename='leaf.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>